
   
   body {
    background-image: url(images/Glowing\ Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
	color: #000305;
	font-size: 87.5%; /* Base font size: 14px */
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;
	}
	
.body {
	clear: both; 
	margin: 0 auto; 
	width: 70%;
}
	

h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}


a {
	outline: 0;
	}

a img {
	border: 0px; 
	text-decoration: none;
}

a:link, a:visited {
	/*color: #CF5C3F;*/
	padding: 0 1px;
	text-decoration: none;
}

a:hover, a:active {
	/*background-color: #fff;*/
	color: #fff;
	text-decoration: none;
}


/* Nav */
.mainHeader nav {
	background: #1338BE;
	font-size: 1.143em;
	height: 40px;
	line-height: 30px;
	margin: 0 auto 30px auto;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainHeader h1 {
    text-align: center;
    color: #ffffff;
}
	
.mainHeader nav ul {
	list-style: none; 
	margin: 0 auto;
}

.mainHeader nav ul li {
	float: left; 
	display: inline; 
}
	
.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #fff;
	display: inline-block;
	height: 30px;
	padding: 5px 23px;
	text-decoration: none;
}
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	background: #000000;
	color: #fff;
	text-shadow: none !important;
}
	
.mainHeader nav li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainHeader img {
	width: 30%;
	height: auto;
	margin: 3% 0;
}


/* Content */
.mainContent {
	overflow: hidden;
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#laptopimg {
	box-sizing: border-box;
  	width: 50%;
	display: flex;
	margin-left: auto;
  	margin-right: auto;

}

.ssdvshdd {
	display: block;
  	margin-left: auto;
	margin-right: auto;
	height: 450px;
	width: 450px;
	  
}
/* PC vs PC Table */
table.customTable {
	width: 80%;
	background-color: #FFFFFF;
	border-collapse: collapse;
	border-width: 1px;
	border-color: #7EA8F8;
	border-style: solid;
	color: #000000;
	margin-left: auto;
	margin-right: auto;
  }
  
  table.customTable td, table.customTable th {
	border-width: 1px;
	border-color: #7EA8F8;
	border-style: solid;
	padding: 5px;
  }
  
  table.customTable thead {
	background-color: #7EA8F8;
  }
  /* PC vs PC End */

  /* Network Post Table */
.Networking caption {
	color: #ffffff;
}

table.Networking {
	table-layout: fixed;
	width: auto;
	height: 100%;
	background-color: #ffffff;
	border-collapse: collapse;
	border-width: 2px;
	border-color: #8b919b;
	border-style: solid;
	color: #000000;
  }
  
table.Networking td, table.Networking th {
	border-width: 2px;
	border-color: #FF0000;
	border-style: solid;
	padding: 3px;
  }
  
table.Networking thead {
	background-color: #D3D3D3;
	text-align: center;
  }

.topcontent {
	background-color: #000000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;	
    margin-bottom: 3%;
    color: #ffffff;
}

.bottomcontent {
	background-color: #ffffff;	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
}

.content {
	width: 68%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

.post-info {
	font-style: italic;
	color: #999;
	font-size: 85%;
}
/* Content End */


/* Sidebar */
.top-sidebar {
	width: 24%;
	float: left;
	margin-left: 2%;
    margin-bottom: 2%;
    border-color: #3D6BBC;
  border-radius: 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
    background-color: #3D6BBC;
    background-size: 1em;
	padding: 2% 3%;
	
}

.middle-sidebar {
	width: 24%;
	float: left;
	margin-left: 2%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	background-color: #FFF;	
	padding: 2% 3%;
	margin-bottom: 2%;
}

.bottom-sidebar {
    align-content: center;
	width: 24%;
	float: left;
	margin-left: 2%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	background-color: #20ACC9;	
	padding: 2% 3%;
}



/* Footer */
.mainFooter {
    text-align: center;
	width: 100%;
	float: left;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 0;
	background-color: #666;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	color: #FFF;	
}

.mainFooter p {
	width: 91%;
	margin: 2% auto;
}

/* Media Queries */

@media only screen and (min-width : 150px) and (max-width : 780px)
{
	.body {
		clear: both; 
		margin: 0 auto; 
		width: 90%;
		font-size: 90%;
	}
	
	.mainHeader nav {
		background: #666;
		font-size: 1.143em;
		height: 160px;
		line-height: 30px;
		margin-bottom: 0;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
		
	.mainHeader nav ul {
		list-style: none; 
		margin: 0 auto;
		padding-left: 0;
	}
	
	.mainHeader nav li {
		margin-left: 0 auto;
		width: 100%;
	}
	
	.mainHeader nav a:link, .mainHeader nav a:visited {
		color: #FFF;
		display: block;
		height: 30px;
		padding: 5px 0;
		text-decoration: none;
	}
	
	.mainHeader nav a:active,
	.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
		background: #CF5C3F;
		color: #fff;
		text-shadow: none !important;
	}
		
	.mainHeader nav li a {
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
			
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	.mainHeader img {
		width: 100%;
		height: auto;
		margin-bottom: 3%;
	}
	
	.mainContent {
		overflow: hidden;
		line-height: 25px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin-top: 4%;
		margin-bottom: 2%;
	}
	
	.topcontent {
		background-color: #000000;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
		padding: 2% 5%;
		margin-bottom: 4%;
	}
	
	.bottomcontent {
		background-color: #FFF;	
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
		padding: 2% 5%;
	}
	
	.content {
		width: 100%;
		float: left;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
	}	

	.post-info {
		display: none;
	}
	
	.top-sidebar {
		width: 86%;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
		background-color: #FFF;	
		margin-top: 4%;
		margin-left: 0;
		padding: 0 7%;
		margin-bottom: 0;		
	}
	
	.top-sidebar p {
		width: 90%;
	}

	.middle-sidebar {
		width: 86%;
		float: left;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
		background-color: #FFF;	
		margin-top: 4%;
		margin-left: 0;
		padding: 0 7%;
		margin-bottom: 0;	
	}
	
	.middle-sidebar p {
		width: 90%;
	}
	
	.bottom-sidebar {
		width: 86%;
		float: left;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
		background-color: #ffffff;	
		margin-top: 4%;
		margin-left: 0%;
		padding: 0 7%;
		margin-bottom: 1%;
	}
	
	.bottom-sidebar p {
		width: 90%;
	}
		
	.mainFooter {
		width: 100%;
		float: left;
		margin: 2% 0;
		padding-left: 0;
		background-color: #666;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
		color: #FFF;	
	}
	
	.mainFooter p {
		width: 86%;
		margin: 2% auto;
	}
}

/* Comment Section */

.be-comment-block {
    margin-bottom: 50px !important;
    border: 1px solid #edeff2;
    border-radius: 2px;
    padding: 50px 70px;
    border:1px solid #ffffff;
}

.comments-title {
    font-size: 16px;
    color: #262626;
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
}

.be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.be-comment-content {
    margin-left: 80px;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-name {
    font-size: 13px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
    color: #383b43;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-time {
    text-align: right;
}

.be-comment-time {
    font-size: 11px;
    color: #b4b7c1;
}

.be-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
}

.form-group.fl_icon .icon {
    position: absolute;
    width: 48px;
    height: 48px;
    background: #f6f6f7;
    color: #b5b8c2;
    text-align: center;
    line-height: 50px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.form-group .form-input {
    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
    color: #b4b7c1;
    width: 100%;
    height: 50px;
    padding-left: 40px;
    padding-right: 20px;
    border: 1px solid #edeff2;
    border-radius: 3px;
}


.form-group textarea.form-input {
    height: 150px;
}

.btn {
    color: #ffffff;
    float: left !important;
}

/* Tool Tips */
[data-tooltip] {
	position: relative;
	cursor: pointer;
  }
  [data-tooltip]:before,
  [data-tooltip]:after {
	line-height: 1;
	font-size: .9em;
	pointer-events: none;
	position: absolute;
	box-sizing: border-box;
	display: none;
	opacity: 0;
  }
  [data-tooltip]:before {
	content: "";
	border: 5px solid transparent;
	z-index: 100;
  }
  [data-tooltip]:after {
	content: attr(data-tooltip);
	/*text-align: center;*/
	min-width: 3em;
	max-width: 21em;
	/*white-space: nowrap;*/
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 6px 8px;
	border-radius: 3px;
	background: #4621FF;
	color: #FFFFFF;
	z-index: 99;
  }
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
	display: block;
	opacity: 1;
  }
  [data-tooltip]:not([data-flow])::before,
  [data-tooltip][data-flow="top"]::before {
	bottom: 100%;
	border-bottom-width: 0;
	border-top-color: #4621FF;
  }
  [data-tooltip]:not([data-flow])::after,
  [data-tooltip][data-flow="top"]::after {
	bottom: calc(100% + 5px);
  }
  [data-tooltip]:not([data-flow])::before, [tooltip]:not([data-flow])::after,
  [data-tooltip][data-flow="top"]::before,
  [data-tooltip][data-flow="top"]::after {
	left: 50%;
	-webkit-transform: translate(-50%, -4px);
			transform: translate(-50%, -4px);
  }
  
  
  [data-tooltip=""]::after, [data-tooltip=""]::before {
	display: none !important;
  }
/* Tool Tips End */

  